.titulo-banner {
  font-family: var(--fonte-principal);
  color: var(--branco);
}

.paragrafo-banner {
  font-family: var(--fonte-principal);
  color: var(--branco);
}

.botao-whatsapp {
    background: linear-gradient(
    90deg,
    #2864A3 0%,
    #003369 100% );
    font-family: var(--fonte-principal);
    font-weight: 900;
    text-transform: uppercase;
    font-size: 18px;
}

.btn-corban {
  transition: box-shadow 0.5s ease;
}

.btn-corban:hover {
  box-shadow:
    0 0 8px rgba(255, 255, 255, 0.25),
    0 0 16px rgba(13, 99, 214, 0.25);
}